body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    background-color: #152142;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #0c1327;
    cursor: pointer;
    overflow: hidden;
    font-weight: 700;
    position: relative;
    transition: 0.4s ease-in;
}

.btn-modern:hover {
    color: #111111;
    background-color: #7982db;
    box-shadow: 5px 5px 1px #0c1327;
    transform: translateY(-5px);
}
