body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    background-color: #152142;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #0c1327;
    cursor: pointer;
    overflow: hidden;
    font-weight: 700;
    position: relative;
    transition: 0.4s ease-in;
}

.btn-modern:hover {
    color: #111111;
    background-color: #7982db;
    box-shadow: 5px 5px 1px #0c1327;
    transform: translateY(-5px);
}
/* .btn-modern::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: 'Boton Moderno';
    transition: .2s ease;
    opacity: 1;
}

.btn-modern::after {
    content: 'Boton Mejorado'; 
    position: absolute;
    top: 14%;
    left: 0%;
    transform: translateY(-50% -50%) scale(0);
    transition: .2s ease;
    opacity: 0;
} */


/* .btn-modern:hover::before{
    transform: translate(-50% -50%) scale(3);
    opacity: 0;
}
.btn-modern:hover::after{
    transform: translate(-5px ) scale(1);
    opacity: 1;
} */