.contenedor {
    display: grid;
    gap: 0.5rem;
    /* column-gap: 0.1rem; */
    /* row-gap: 1rem; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: 20px 3rem 25px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 5rem  100px;
}

.item {
    background-color: darkcyan;
    padding: 0.25rem;
    font-size: 2rem;
    border: 1px solid darkblue;
}